<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easy FRP Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
    <div class="container">
        <div id="app">
            <h3 class="title is-4">Easy FRP Calculator</h3>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                </div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <div class="control">
                            <button id="calcfrp" v-on:click="calcfrp" class="button">Calc</button>
                        </div>
                        <div class="control">
                            <button id="calcfrp" v-on:click="reset" class="button">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Fiber volume fraction</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="vf" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            %
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Fiber weight fraction</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="number" v-model="wf" >
                    </p>
                    <p class="control">
                        <a class="button is-static">
                        %
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Fiber areal weight</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="number" v-model="faw" >
                    </p>
                    <p class="control">
                        <a class="button is-static">
                        g/m2
                        </a>
                    </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Resin areal weight</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="raw" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            g/m2
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Total areal weight</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="taw" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            g/m2
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Thickness</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="thick" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            mm
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Composite density</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="rho" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            g/cm3
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Fiber density</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="crho" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            g/cm3
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Resin density</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="number" v-model="rrho" >
                        </p>
                        <p class="control">
                            <a class="button is-static">
                            g/cm3
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </section>
  </body>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        vf: 0.0,
        wf: 0.0,
        faw: 0.0,
        raw: 0.0,
        taw: 0.0,
        thick: 0.0,
        rho: 0.0,
        crho: 1.8,
        rrho: 1.2,
      },

      created: function() {
      },

      methods: {
        clean: function(x, d) {
            if (x > 0 && x != Infinity) {
                return x.toFixed(d)
            } else {
                return 0
            }
        },
        calcprop: function() {
            if (!(this.vf > 0)) {
                this.vf = this.clean(100 * this.wf / this.crho / (this.wf /  this.crho + (100 - this.wf) / this.rrho), 2)
            }
            if (!(this.wf > 0)) {
                this.wf = this.clean(100 * this.vf * this.crho / (this.vf * this.crho + (100 - this.vf) * this.rrho), 2)
            }
            if (!(this.wf > 0)) {
                this.wf = this.clean(this.faw / this.taw * 100, 2)
            }
            if (!(this.faw > 0)) {
                this.faw = this.clean(this.raw / (1 - this.wf / 100) - this.raw, 1)
            }
            if (!(this.faw > 0)) {
                this.faw = this.clean(this.taw * this.wf / 100, 1)
            }
            if (!(this.faw > 0)) {
                this.faw = this.clean(this.taw - this.raw, 1)
            }
            if (!(this.faw > 0)) {
                this.faw = this.clean(this.thick * (this.vf / 100) * this.crho * 1000, 1)
            }
            if (!(this.raw > 0)) {
                this.raw = this.clean(this.faw / (this.wf / 100) - this.faw, 1)
            }
            if (!(this.raw > 0)) {
                this.raw = this.clean(this.taw * (1 - this.wf / 100), 1)
            }
            if (!(this.taw > 0)) {
                this.taw = this.clean(parseFloat(this.faw) + parseFloat(this.raw), 1)
            }
            if (!(this.thick > 0)) {
                this.thick = this.clean(this.faw / (this.vf / 100) / this.crho / 1000, 3)
            }
            if (!(this.rho > 0) && this.vf > 0) {
                this.rho = this.clean(this.crho * this.vf / 100 + this.rrho * (100 - this.vf) / 100, 2)
            }
            if (!(this.crho > 0)) {
            }
            if (!(this.rrho > 0)) {
            }
        },
        calcfrp: function() {
            this.calcprop()
            this.calcprop()
            this.calcprop()
        },
        reset: function() {
            this.vf = 0
            this.wf = 0
            this.faw = 0
            this.raw = 0
            this.taw = 0
            this.thick = 0
            this.rho = 0
            this.crho = 1.8
            this.rrho = 1.2
        },
      }
    })
  </script>
</html>
